:root{
    /* << 색상 >> */
    /* login page */
    --login-background-page-color : rgb(233, 236, 244);
    --login-title-font-color : rgb(0,0,0);

    /* Main page */
    --header-background-color : #292c2f;
    --header-border-bottom-color : #ccc;
    --header-font-color : #fff;
    --header-tab-selected-font-color : #608bd2;
    --header-select-border-color : #fff; 

    --main-page-background-color : rgb(234, 240, 242);

    /* 크기 */
    /* Main page */
    --header-height : 80px;
    --date-height : 64px;
}