:root{
    /* 색상 */
    --base-background-color : rgb(38, 40, 46);
    --base-tab-background-color : rgb(31, 32, 34);
    --base-page-background-color : rgb(233, 236, 244);
    --base-font-color : rgb(0, 0, 0);

    --border-color : rgb(66, 67, 75);

    /* 크기 */


}